# Python cache
__pycache__/
*.py[cod]

# CFD/generated outputs
cases/*
!cases/.gitkeep
results/*
!results/.gitkeep
!results/figures/
results/figures/*
!results/figures/.gitkeep
!results/flowfields/
results/flowfields/*
!results/flowfields/.gitkeep
geometry/generated/*
!geometry/generated/.gitkeep

# Solver and mesh outputs
*.su2
*.msh
*.vtk
*.vtu
*.csv
*.log
*.dat
*.pos

# OS/editor files
.DS_Store
Thumbs.db
*.tmp
*.bak
